<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>822198700398-g2r50g0b3u1pf5qrqqqo8ef10om2qf7m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.822198700398-g2r50g0b3u1pf5qrqqqo8ef10om2qf7m</string>
	<key>API_KEY</key>
	<string>AIzaSyALDsN2IWM7n6MQahND8QsYH-m6I4J_h1M</string>
	<key>GCM_SENDER_ID</key>
	<string>822198700398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>us.odysseyapp.odyssey</string>
	<key>PROJECT_ID</key>
	<string>odyssey-899fd</string>
	<key>STORAGE_BUCKET</key>
	<string>odyssey-899fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:822198700398:ios:6bfb7b6559066d6d94997f</string>
	<key>DATABASE_URL</key>
	<string>https://odyssey-899fd.firebaseio.com</string>
</dict>
</plist>