<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>794143535695-tho878efsv75bbl3ni3h3t1di54ak9cv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.794143535695-tho878efsv75bbl3ni3h3t1di54ak9cv</string>
	<key>API_KEY</key>
	<string>AIzaSyDlEK1Za4m0vfnI5q4qus0iUxnMOAz9xAQ</string>
	<key>GCM_SENDER_ID</key>
	<string>794143535695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>us.odysseyapp.odyssey</string>
	<key>PROJECT_ID</key>
	<string>odyssey-4329f</string>
	<key>STORAGE_BUCKET</key>
	<string>odyssey-4329f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:794143535695:ios:5f43aa6c522fc23f37b03a</string>
	<key>DATABASE_URL</key>
	<string>https://odyssey-4329f.firebaseio.com</string>
</dict>
</plist>